@using ECommerce.DTOs.Cart
@model List<CartItemDto>


<div class="dropdown-menu dropdown-cart">
    <ul class="mini-products-list">
        @foreach (var item in Model)
        {
            <li class="item-cart">
                <div class="product-img-wrap">
                    <img src="@item.ImageUrl" alt="@item.ProductName" class="img-reponsive" />
                </div>
                <div class="product-details">
                    <div class="inner-left">
                        <div class="product-name">@item.ProductName</div>
                        <div class="product-price">
                            @item.Price.ToString("C2") <span>(@item.Quantity )</span>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Remove", "Cart", new { productId = item.ProductId })" class="e-del"><i class="ion-ios-close-empty"></i></a>
            </li>
        }   
    </ul>
    @if (Model.Count()>0)
    {
    <div class="bottom-cart">
        <div class="cart-price">
            <span>Ara Tolam</span>
                <span class="price-total">@Model.Sum(x => x.Price * x.Quantity).ToString("C2")</span>
        </div>
        <div class="button-cart">
            <a href="/Cart" class="cart-btn btn-viewcart">Sepete Git</a>
            <a href="/Cart" class="cart-btn e-checkout btn-gradient">Ödemeye Geç</a>
        </div>
    </div>        
    }else{       
        <div class="alert alert-info pt-20">Şuan sepenizde hiç ürün yok.</div>
    }
</div>