@model IEnumerable<ECommerce.Data.Entities.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Siparişlerim</h1>



<table class="table">
    <thead>
        <tr>
            <th>
               Sipariş Tarihi
            </th>
            <th>
                Sipariş Toplamı
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detay</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td colspan="3" class="text-center">Henüz sipariş bulunamadı.</td>
            </tr>
            </tbody>
    }

</table>